@media screen and (min-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    background-image: url(../images/body.png);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Droid Serif", serif;
  }
  .romb {
    background-image: url(../images/bullet-one.png);
    background-repeat: no-repeat;
    background-position-y: 10px;
    background-position-x: 80px;
    background-size: 6px;
  }
  #header {
    height: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
  }
  #header .select2 {
    display: none;
  }
  #header .head {
    width: 960px;
    height: 114px;
    position: relative;
  }
  #header .head .Logo {
    width: 147px;
    float: right;
    margin-top: 46px;
    margin-right: 111px;
  }
  #header .head .Logo h1 {
    content: url("../images/logo.png");
    width: 179px;
  }
  #header .head .addres {
    position: absolute;
    right: 52px;
    top: 11px;
    font-size: 13px;
    font-family: "Droid Serif", serif;
  }
  #header .head h3 {
    color: #9d7653;
  }
  #header .Logo2 {
    width: 81px;
    height: 60px;
    margin-top: 5px;
    background-image: url("../images/logo2.png");
    background-size: 74px;
    background-repeat: no-repeat;
    margin-left: 434px;
  }
  #header .head_left {
    margin-left: -5px;
    margin-top: 52px;
    float: left;
  }
  #header .head_left li {
    float: left;
    list-style: none;
    width: 94px;
    text-align: center;
  }
  #header .head_left a:hover {
    color: #fbdfa8;
  }
  #header .head_left li:hover > a {
    color: rgba(190, 167, 132, 0.89);
  }
  #header .head_left ul:first-child:after {
    content: url(../images/bullet-one.png);
    position: absolute;
    display: block;
    right: 94px;
    top: 8px;
  }
  #header .head_left ul:first-child:before {
    content: url(../images/bullet-one.png);
    position: absolute;
    display: block;
    right: 186px;
    top: 8px;
  }
  #header .head_left li a {
    text-decoration: none;
    display: block;
    color: #9d7653;
    background: black;
    padding: 10px;
    transition: 0.2s;
  }
  #header .head_left li li a:hover {
    background: #fbdfa8;
  }
  #header .head_left ul {
    display: inline-table;
    position: relative;
  }
  #header .head_left ul ul {
    position: absolute;
    top: 10%;
    left: 0;
  }
  #header .head_left ul ul li {
    height: 0;
    overflow: hidden;
  }
  #header .head_left ul ul li {
    float: none;
    width: 90px;
  }
  #header .head_left ul ul a {
    border-bottom: 1px solid #9d7653;
    transition: 0.4s;
  }
  #header .head_left ul li:hover li {
    height: 100%;
    width: 224px;
  }
  #header .head_left ul li:hover ul {
    top: 100%;
    transition: 0.5s;
  }
  .head_right {
    margin-left: 0;
    margin-right: 35px;
    margin-top: 52px;
    float: right;
    position: relative;
  }
  .head_right ul:first-child:after {
    content: url(../images/bullet-one.png);
    position: absolute;
    display: block;
    right: 94px;
    top: 8px;
  }
  .head_right ul:first-child:before {
    content: url(../images/bullet-one.png);
    position: absolute;
    display: block;
    right: 177px;
    top: 8px;
    z-index: 1;
  }
  .head_right li {
    float: left;
    list-style: none;
    width: 94px;
    text-align: center;
  }
  .head_right a:hover {
    color: #fbdfa8;
  }
  .head_right li:hover > a {
    color: rgba(190, 167, 132, 0.89);
  }
  .head_right li a {
    text-decoration: none;
    display: block;
    color: #9d7653;
    background: black;
    padding: 10px;
    transition: 0.2s;
  }
  .head_right li li a:hover {
    background: #fbdfa8;
  }
  .head_right ul {
    display: inline-table;
    position: relative;
    padding-left: 0;
  }
  .head_right ul li {
    position: relative;
  }
  .head_right ul li ul {
    position: absolute;
    top: 10%;
    left: 0;
  }
  .head_right ul li ul li {
    height: 0;
    overflow: hidden;
  }
  .head_right ul li ul li {
    float: none;
    width: 30px;
  }
  .head_right ul li ul a {
    border-bottom: 1px solid #9d7653;
    transition: 0.4s;
  }
  .head_right ul li:hover li {
    height: 100%;
    width: 200px;
  }
  .head_right ul li:hover ul {
    top: 100%;
    transition: 0.5s;
  }
  .head2 {
    width: 100%;
    height: 50px;
    background: url(../images/bottom-strip.png) repeat-x #fbdfa8;
    padding-top: 1px;
    text-align: center;
  }
  .head2 > p {
    color: #514032;
    font-size: 15px;
    line-height: 14px;
    text-transform: uppercase;
    word-spacing: 1px;
    margin-top: 11px;
  }
  .head2 > p > a {
    margin-left: 6px;
    display: inline-block;
    color: #fff;
    background: url(../images/strip-btn-bg.png) repeat-x;
    padding: 7px 11px;
    font-size: 12px;
  }
  .head2 > p > a:hover {
    background: #9f6a4c;
    transition: background 0.3s ease-in-out;
  }
  .con {
    position: absolute;
    margin-left: 84px;
    margin-top: -68px;
    color: #824328;
    font-variant: small-caps;
    font-size: 20pt;
  }
  #content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-image: url(../images/sliderprom2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #content .content {
    width: 960px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 3px #c2c1bf;
    border: 1px solid #b4b4b4;
    flex-grow: 2;
    border-radius: 15px;
  }
  #content .content .content_1 {
    width: 90%;
    margin: 0 auto 0 auto;
    height: 91%;
    margin-top: 41px;
    margin-bottom: 41px;
    border: 2px solid #9d7653;
  }
  #content .content .content_1 .content_content {
    width: 90%;
    height: 207px;
    margin: 0 auto 0 auto;
  }
  #content .content .content_1 .content_content img {
    float: left;
  }
  #content .content .content_1 .content_content span p {
    padding-top: 79px;
  }
  #content .content .content_1 .content_content span p:before {
    content: "Ветчина и грибы";
    position: absolute;
    margin-left: 84px;
    margin-top: -68px;
    color: #824328;
    font-variant: small-caps;
    font-size: 20pt;
  }
  #content .content .content_1 .content_content_1 {
    width: 90%;
    height: 207px;
    margin: 0 auto 0 auto;
    clear: both;
  }
  #content .content .content_1 .content_content_1 img {
    float: left;
    margin-left: 24px;
    margin-top: 21px;
  }
  #content .content .content_1 .content_content_1 span p {
    padding-top: 79px;
    overflow: hidden;
    padding-left: 2px;
  }
  #content .content .content_1 .content_content_1 span p:before {
    content: "Курица с ананасами";
    position: absolute;
    margin-left: 84px;
    margin-top: -68px;
    color: #824328;
    font-variant: small-caps;
    font-size: 20pt;
  }
  #content .content .content_1 .content_content_2 {
    width: 90%;
    height: 207px;
    margin: 0 auto 0 auto;
    clear: both;
  }
  #content .content .content_1 .content_content_2 img {
    float: left;
    margin-left: 24px;
    margin-top: 48px;
  }
  #content .content .content_1 .content_content_2 span p {
    padding-top: 86px;
    overflow: hidden;
    padding-left: 30px;
  }
  #content .content .content_1 .content_content_2 span p:before {
    content: "Пепперони";
    position: absolute;
    margin-left: 84px;
    margin-top: -68px;
    color: #824328;
    font-variant: small-caps;
    font-size: 20pt;
  }
  #content .content .content_1 .content_content_3 {
    width: 90%;
    height: 207px;
    margin: 0 auto 0 auto;
    clear: both;
  }
  #content .content .content_1 .content_content_3 img {
    float: left;
    margin-left: 24px;
    margin-top: 46px;
  }
  #content .content .content_1 .content_content_3 span p {
    padding-top: 103px;
    overflow: hidden;
    padding-left: 24px;
  }
  #content .content .content_1 .content_content_3 span p:before {
    content: "Маргарита";
    position: absolute;
    margin-left: 84px;
    margin-top: -68px;
    color: #824328;
    font-variant: small-caps;
    font-size: 20pt;
  }
  #content .content .content_1 .content_content_4 {
    width: 90%;
    height: 207px;
    margin: 0 auto 0 auto;
    clear: both;
  }
  #content .content .content_1 .content_content_4 img {
    float: left;
    margin-left: 15px;
    margin-top: 46px;
  }
  #content .content .content_1 .content_content_4 span p {
    padding-top: 103px;
    overflow: hidden;
    padding-left: 18px;
  }
  #content .content .content_1 .content_content_4 span p:before {
    content: "Карбонара";
    position: absolute;
    margin-left: 84px;
    margin-top: -68px;
    color: #824328;
    font-variant: small-caps;
    font-size: 20pt;
  }
  #content .content .content_1 .conten_heder {
    background: url("../images/bullet-one.png") repeat-x;
    background-position-y: 18px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
  #content .content .content_1 .conten_heder span {
    display: inline-block;
    background-color: #ffffff;
    padding: 0px 7px;
    color: #824328;
    text-align: center;
    font-variant: small-caps;
    font-size: 24pt;
  }
  #footer {
    display: flex;
    width: 100%;
    height: 120px;
    border-top: 1px solid #000000;
    background-color: #000000;
    flex-direction: column;
  }
  #footer .select {
    display: none;
  }
  #footer .footer_content2 {
    text-align: center;
    margin: 0 auto 0 auto;
    float: left;
    display: flex;
  }
  #footer .footer_content2 a:last-child {
    margin-left: 30px;
  }
  #footer .footer_content2 .fa-facebook-official {
    color: #9d7653;
    font-size: 18pt;
  }
  #footer .footer_content2 .fa-envelope {
    color: #9d7653;
    font-size: 18pt;
  }
  #footer .footer_header {
    background-image: url("../images/bottom-strip.png");
    height: 4px;
    width: 100%;
    background-position: center;
  }
  #footer .footer_content {
    margin: 0 auto 0 auto;
    text-align: center;
  }
  #footer .footer_content .footer_ul {
    list-style: none;
  }
  #footer .footer_content .footer_ul li {
    display: inline;
    margin-left: 20px;
  }
  #footer .footer_content .footer_ul li a {
    text-decoration: none;
    border: 1px solid #000000;
    display: inline-block;
    font-family: "Droid Serif", serif;
    font-size: 10pt;
    text-transform: uppercase;
    width: 74px;
    color: #9d7653;
    padding: 7px;
  }
}
@media screen and (max-width: 599px) {
  .con .a {
    text-decoration: none;
    display: inline-block;
    background-color: #824328;
    border: 2px solid #ffffff;
    padding: 5px 12px;
    color: #fff;
    font-size: 12px;
    margin-top: 10px;
  }
  .con h2 a {
    text-decoration: none;
    color: #9d7653;
  }
  .con h3 {
    color: #824328;
    font-family: 'Droid Serif', serif;
  }
  .con p {
    color: #8D8D8D;
    text-align: justify;
    font-size: 13px;
  }
  .con p a {
    color: #BD8942;
    text-decoration: none;
  }
  .con figure {
    display: inline-block;
    background-color: #f0f1f2;
    border: 1px solid #ffffff;
    padding: 6px 4px 6px 6px;
    margin: 0px 0px 20px 1px;
  }
  body {
    margin: 0;
    padding: 0;
    background-image: url(../images/body.png);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Droid Serif", serif;
  }
  body .head_left,
  body .head_right {
    display: none;
  }
  body #header {
    display: flex;
    flex-direction: column;
    height: 260px;
    align-items: center;
    background-color: black;
  }
  body #header .select2 {
    text-align: center;
  }
  body #header .select2 select {
    width: 200px;
    height: 30px;
    margin-top: 22px;
    border: 4px solid #fbdfa8;
    border-radius: 5px;
    outline: 0;
  }
  body #header .head2 {
    margin-top: 29px;
    background: url(../images/bottom-strip.png) repeat-x #fbdfa8;
    padding-top: 1px;
    text-align: center;
    height: 50px;
  }
  body #header .head2 > p {
    margin-top: 7px;
    color: #514032;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    word-spacing: 1px;
  }
  body #header .head2 > p > a {
    margin-left: 6px;
    display: inline-block;
    color: #fff;
    background: url(../images/strip-btn-bg.png) repeat-x;
    padding: 3px 10px;
    font-size: 12px;
  }
  body #header .head2 > p > a:hover {
    background: #9f6a4c;
    transition: background 0.3s ease-in-out;
  }
  body #header .head {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
  }
  body #header .head .Logo {
    height: 30px;
  }
  body #header .head h1 {
    content: url("../images/logo.png");
    width: 157px;
    margin-top: 30px;
  }
  body #header .Logo2 {
    width: 81px;
    height: 60px;
    margin-top: -8px;
    background-image: url("../images/logo2.png");
    background-size: 74px;
    background-repeat: no-repeat;
    margin-bottom: -21px;
  }
  body #header .addres {
    top: 11px;
    font-size: 13px;
    font-family: "Droid Serif", serif;
  }
  body #header .addres h3 {
    margin-top: 10px;
    color: #9d7653;
  }
  body #content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-image: url(../images/sliderprom2.jpg);
  }
  body #content .content {
    max-width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 3px #c2c1bf;
    border: 1px solid #b4b4b4;
    flex-grow: 2;
    border-radius: 15px;
  }
  body #content .content .content_1 {
    width: 90%;
    margin: 0 auto 0 auto;
    margin-top: 41px;
    margin-bottom: 41px;
    border: 1px solid #9d7653;
    display: flex;
    flex-direction: column;
  }
  body #content .content .content_content {
    width: 90%;
    margin: 0 auto;
  }
  body #content .content .content_content img {
    margin-left: -20px;
  }
  body #content .content .content_content p {
    color: #8D8D8D;
    text-align: center;
    margin-bottom: 25px;
    line-height: 22px;
    font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
  }
  body #content .content .content_content_1 {
    width: 90%;
    margin: 0 auto;
  }
  body #content .content .content_content_1img {
    width: 300px;
  }
  body #content .content .content_content_1 p {
    color: #8D8D8D;
    text-align: center;
    margin-bottom: 25px;
    line-height: 22px;
    font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
  }
  body #content .content .content_content_2 {
    width: 90%;
    margin: 0 auto;
  }
  body #content .content .content_content_2 p {
    color: #8D8D8D;
    text-align: center;
    margin-bottom: 25px;
    line-height: 22px;
    font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
  }
  body #content .content .content_content_3 {
    width: 90%;
    margin: 0 auto;
  }
  body #content .content .content_content_3 p {
    color: #8D8D8D;
    text-align: center;
    margin-bottom: 25px;
    line-height: 22px;
    font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
  }
  body #content .content .content_content_4 {
    width: 90%;
    margin: 0 auto;
  }
  body #content .content .content_content_4 p {
    color: #8D8D8D;
    text-align: center;
    margin-bottom: 25px;
    line-height: 22px;
    font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
  }
  body #content .content .conten_heder {
    background: url("../images/bullet-one.png") repeat-x;
    background-position-y: 38px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
  body #content .content .conten_heder span {
    display: inline-block;
    background-color: #ffffff;
    padding: 0px 9px;
    color: #824328;
    text-align: center;
    font-variant: small-caps;
    font-size: 24pt;
  }
  #footer {
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: black;
  }
  #footer .footer_content {
    display: none;
  }
  #footer .select {
    text-align: center;
  }
  #footer .select select {
    width: 200px;
    height: 30px;
    margin-top: 22px;
    border: 4px solid #fbdfa8;
    border-radius: 5px;
    outline: 0;
  }
  #footer .second {
    text-align: center;
    color: #9d7653;
    font-family: "Droid Serif", serif;
  }
  #footer .footer_header {
    background-image: url("../images/bottom-strip.png");
    height: 4px;
    width: 100%;
    background-position: center;
  }
  #footer .footer_content2 {
    margin-top: 32px;
    display: flex;
    justify-content: center;
  }
  #footer .footer_content2 .fa-facebook-official {
    color: #9d7653;
    font-size: 25pt;
    margin-right: 29px;
  }
  #footer .footer_content2 .fa-envelope {
    color: #9d7653;
    font-size: 25pt;
  }
}
